.Home-callout {
	--color-border: hsl(0, 0%, 18%);
	background-color: var(--color-bg-well);
	border: 1px solid var(--color-border);
	border-radius: 4px;
	margin-top: 2.2em;
	padding: 1em;
}

@media screen and (prefers-color-scheme: light) {
	.Home-callout {
		--color-border: hsl(0, 0%, 90%);
	}
}
