.Callout {
	--color-border: hsl(0, 0%, 27%);
	--color-border-left: var(--color-accent);

	background-color: var(--color-bg-well);
	border: 1px solid var(--color-border);
	border-left: 4px solid var(--color-border-left);
	border-radius: 4px;
	padding: 1em;
}

.Callout-text {
	margin: 0;
}

@media screen and (prefers-color-scheme: light) {
	.Callout {
		--color-border: hsl(0, 0%, 87%);
	}
}
